<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Admin</title>
</head>
<body>
    <table style="text-align: center;">
        <tr>
            <td>Funcionario</td>
            <td>Convidado</td>
            <td>Alcóol</td>
        </tr>
        <tr>
            <td>Lucas Manoel</td>
            <td>---</td>
            <td>0.2l</td>
        </tr>
    </table>
</body>
</html>