<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Funcionario</title>
</head>
<body>
    <form>
        <label for="nome">Nome e Sobrenome:</label>
        <input type="text" id="nome" name="nome"> <br> <br>

        <label for="convidado">Pretende levar acompanhante: </label>
        <input type="checkbox" name="cboolean" id="cboolean"> <br> <br>

        <label for="nomeConvidado">Nome do(a) acompanhante: </label>
        <input type="text" name="nomeConvidado" id="nomeConvidado"> <br> <br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>