<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Funcionario</title>
</head>
<body>
    <form id="funcionarios">
        <label for="nome">Nome e sobrenome:</label>
        <input type="text" name="nome" id="nome"> <br> <br>

        <label for="convidado">Pretendo levar acompanhante </label>
        <input type="checkbox" name="convidado" id="convidado"> <br> <br>

        <label for="nomeConvidado">Nome do(a) acompanhante: </label>
        <input type="text" name="nomeConvidado" id="nomeConvidado"> <br> <br>

        <button type="submit"> Enviar </button>
    </form>

        <script>
            const funcionarios = document.getElementById('funcionarios')

            funcionarios.addEventListener('submit', (e) =>{
                e.preventDefault()

                const data = {
                    'nome':funcionarios.nome.value,
                    'convidado':funcionarios.convidado.checked,
                    'nomeConvidado':funcionarios.nomeConvidado.value
                }

                fetch('/funcionario', {
                    method: 'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(data)
                })
            })
        </script>
</body>
</html>